{deps, [
    {uuid, ".*", {git, "https://github.com/okeuday/uuid.git"}},
    {eiconv, ".*", {git, "git://github.com/zotonic/eiconv.git", {branch, "master"}}},
    {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git"}}
   ]}.

{eunit_opts, 
 [verbose,
  %% eunit truncates output from tests - capture full output in
  %% XML files in .eunit
  {report,{eunit_surefire,[{dir,"."}]}}]}.